<% provide(:title,"User") %>
<h1>利用者一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-hover users-table id="table-users">
    <thead>
      <tr>
       <th>名前</th>
       <th></th>
       <th></th>
      <tr>
    </thead>
    <tbody>
      <% @user.each do |user| %>
      <td><%= link_to user.name, user_path(@user), id:"user-name" %></td>
      <% end %>
    </tbody>
    </table>
  </div><!-- ./col-md-10 col-md-offset-1 -->
</div><!-- ./row -->