@import "bootstrap-sprockets";
@import "bootstrap";

#task-name {
  font-size: 1.8rem;
}

#table-tasks td {
  vertical-align: middle;
}

.show-table {
  margin-top: 20px;
}

.show-th {
  background-color: #f5f5f5;
}