@import "bootstrap-sprockets";
@import "bootstrap";

.user-table {
  vertical-align: middle;
}

.label-description {
  margin-top: 10px;
}

.label-user-name {
  font-size: 16px;
}

.user-label {
  font-size: 12px;
  padding: 4px 6px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.nolink {
  pointer-events: none;
}